# -FrontPage-

Options None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName restricted/stats
AuthUserFile /export/home/rvf/public_html/restricted/stats/_vti_pvt/service.pwd
AuthGroupFile /export/home/rvf/public_html/restricted/stats/_vti_pvt/service.grp
